.navbar {
	margin-bottom: 30px;
}

.navbar .logo {
	font-size: 32px;
	font-weight: bold;
	margin: 0 20px;
	text-transform: uppercase;
	font-family: "Alegreya Sans";
}

.options .button {
	justify-content: left;
}
