.navbar {
	background-color: #4caf50 !important;
	color: white;
}

.navbar .navbar-start .navbar-item,
.navbar .logo {
	color: white;
}
.navbar .navbar-start .navbar-item:hover {
	background-color: #1c8f30;
	color: white;
}
